body {
  font-family: Arial, sans-serif;
  background-color: #f9f7e6cf;
}

h1, h2, h3 {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;

}

h1 {
  text-align: center;
  color: #3679dc;
  font-size:xx-large;
  font-weight:bolder;
  letter-spacing: 4px;
}

h2 {
  text-align:left;
  color: #e99000;
  font-size: medium;
  font-weight: bolder;
  letter-spacing: 10px;
}

h3 {
  text-align:left;
  color: #3679dc;
  font-size: small;
  font-weight:bold;
  letter-spacing: 4px;
}

.popup-title {
  color: #114799;
  font-size: 12px;
  text-align: center;
}

p {
  color: #666;
}


#mapid, #barGraph {
  height: 400px;
  width: 100%;
}

#dashboard {
  display: flex;
  justify-content: space-between;
}

#map-section, #bar-section {
  width: 45%;
  box-sizing: border-box;
}
